@page
@model IndexModel

@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome  to your login area!</h1>
    <p>Login using form below:</p>

</div>
